In [19]:
import pandas as pd
import numpy as np

pd.set_option('display.expand_frame_repr', False)

Read in the data containing death numbers per country

In [43]:
deaths_by_country_df = pd.read_csv('data/hiv_aids_data/hiv_aids_death_data.csv')

Lets check out the first few rows to get a feel for how the data looks

In [44]:
deaths_by_country_df.head()

    IndicatorCode                         Indicator ValueType ParentLocationCode   ParentLocation Location type SpatialDimValueCode    Location Period type  Period  ...  FactValueUoM  FactValueNumericLowPrefix  FactValueNumericLow  FactValueNumericHighPrefix  FactValueNumericHigh               Value  FactValueTranslationID  FactComments  Language         DateModified
0  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                EUR           Europe       Country                 ALB     Albania        Year    2020  ...           NaN                          <                100.0                           <                 100.0  <100 [<100 – <100]                     NaN           NaN        EN  2021-10-11 00:00:00
1  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                EUR           Europe       Country                 ARM     Armenia        Year    2020  ...           NaN                          <                100.0                           <                 100.0  <100 [<100 – <100]                     NaN           NaN        EN  2021-10-11 00:00:00
2  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                WPR  Western Pacific       Country                 AUS   Australia        Year    2020  ...           NaN                          <                100.0                           <                 100.0  <100 [<100 – <100]                     NaN           NaN        EN  2021-10-11 00:00:00
3  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                AFR           Africa       Country                 CPV  Cabo Verde        Year    2020  ...           NaN                          <                100.0                           <                 100.0  <100 [<100 – <100]                     NaN           NaN        EN  2021-10-11 00:00:00
4  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                AFR           Africa       Country                 COM     Comoros        Year    2020  ...           NaN                          <                100.0                           <                 100.0  <100 [<100 – <100]                     NaN           NaN        EN  2021-10-11 00:00:00

[5 rows x 34 columns]

Looking more closely at the data locally as a csv a lot of these columns have no values. Lets drop all the columns with no values

In [46]:
deaths_by_country_df.dropna(axis=1, how='all', inplace=True)
deaths_by_country_df

       IndicatorCode                         Indicator ValueType ParentLocationCode   ParentLocation Location type SpatialDimValueCode                                           Location Period type  Period  ...  FactValueNumericPrefix FactValueNumeric  FactValueNumericLowPrefix FactValueNumericLow  FactValueNumericHighPrefix FactValueNumericHigh               Value FactValueTranslationID  Language         DateModified
0     HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                EUR           Europe       Country                 ALB                                            Albania        Year    2020  ...                       <            100.0                          <               100.0                           <                100.0  <100 [<100 – <100]                    NaN        EN  2021-10-11 00:00:00
1     HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                EUR           Europe       Country                 ARM                                            Armenia        Year    2020  ...                       <            100.0                          <               100.0                           <                100.0  <100 [<100 – <100]                    NaN        EN  2021-10-11 00:00:00
2     HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                WPR  Western Pacific       Country                 AUS                                          Australia        Year    2020  ...                       <            100.0                          <               100.0                           <                100.0  <100 [<100 – <100]                    NaN        EN  2021-10-11 00:00:00
3     HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                AFR           Africa       Country                 CPV                                         Cabo Verde        Year    2020  ...                       <            100.0                          <               100.0                           <                100.0  <100 [<100 – <100]                    NaN        EN  2021-10-11 00:00:00
4     HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                AFR           Africa       Country                 COM                                            Comoros        Year    2020  ...                       <            100.0                          <               100.0                           <                100.0  <100 [<100 – <100]                    NaN        EN  2021-10-11 00:00:00
...              ...                               ...       ...                ...              ...           ...                 ...                                                ...         ...     ...  ...                     ...              ...                        ...                 ...                         ...                  ...                 ...                    ...       ...                  ...
3607  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                EUR           Europe       Country                 SWE                                             Sweden        Year    2000  ...                     NaN              NaN                        NaN                 NaN                         NaN                  NaN             No data                  827.0        EN  2021-10-11 00:00:00
3608  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                EUR           Europe       Country                 TUR                                             Turkey        Year    2000  ...                     NaN              NaN                        NaN                 NaN                         NaN                  NaN             No data                  827.0        EN  2021-10-11 00:00:00
3609  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                EUR           Europe       Country                 TKM                                       Turkmenistan        Year    2000  ...                     NaN              NaN                        NaN                 NaN                         NaN                  NaN             No data                  827.0        EN  2021-10-11 00:00:00
3610  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                EUR           Europe       Country                 GBR  United Kingdom of Great Britain and Northern I...        Year    2000  ...                     NaN              NaN                        NaN                 NaN                         NaN                  NaN             No data                  827.0        EN  2021-10-11 00:00:00
3611  HIV_0000000006  Number of deaths due to HIV/AIDS   numeric                AMR         Americas       Country                 USA                           United States of America        Year    2000  ...                     NaN              NaN                        NaN                 NaN                         NaN                  NaN             No data                  827.0        EN  2021-10-11 00:00:00

[3612 rows x 21 columns]

The IndicatorCode, ValueType, ParentsLocationCode,ParentLocation,LocationType,Period type,IsLastYear,Language will all be useless dropping them

In [49]:
deaths_by_country_df.drop(
    columns=['IndicatorCode', 'ValueType', 'ParentLocationCode', 'ParentLocation', 'Location type', 'Period type',
             'IsLatestYear', 'Language'], axis=1, inplace=True)

In [21]:
# df_dict = {'art_coverage_by_country_df': art_coverage_by_country_df,
#            'art_pediatric_coverage_by_country_df': art_pediatric_coverage_by_country_df,
#            'no_of_cases_adults_15_to_49_by_country_df': no_of_cases_adults_15_to_49_by_country_df,
#            'no_of_deaths_by_country_df': no_of_deaths_by_country_df,
#            'no_of_people_living_with_hiv_by_country_df': no_of_people_living_with_hiv_by_country_df}
# dfs = [art_coverage_by_country_df, art_pediatric_coverage_by_country_df, no_of_cases_adults_15_to_49_by_country_df,
#        no_of_deaths_by_country_df, no_of_people_living_with_hiv_by_country_df]

First, lets get the unique countries from each dataframe so we can merge them with the other datasets

In [9]:
countries_dict = {}
for df in dfs:
    df.rename(columns={'Unnamed: 0_level_0': 'Country'}, inplace=True)

for df in df_dict:
    countries_dict[df] = pd.unique(df_dict[df].Country.values.flatten())

country_array = np.array([])
for country in countries_dict:
    country_array = np.concatenate((country_array, countries_dict[country]), axis=None)
unique_countries = np.unique(country_array)

Lets take all of the missing data and replace it with nan, also, lots of the values contain either `&lt;` which represents `<`, and `&gt;` which represents `>`, we can clean those up in the same replace function

In [10]:
count = 1
for df in df_dict:
    df_dict[df].replace("No data", np.nan, inplace=True)
    df_dict[df].replace("&lt;", "<", regex=True, inplace=True)
    df_dict[df].replace("&gt;", "<", regex=True, inplace=True)
    #df_dict[df] = df_dict[df].stack([0, 1]).reset_index()
    print(df_dict[df].columns)

#df_full = art_coverage_by_country_df.merge(art_pediatric_coverage_by_country_df,left_on=...,right_on=)
#df_full = df_full.merge(no_of_cases_adults_15_to_49_by_country_df,left_on=...,right_on=)
#df_full = df_full.merge(no_of_deaths_by_country_df,left_on=...,right_on=)
#df_full = df_full.merge(no_of_people_living_with_hiv_by_country_df,left_on=...,right_on=)
#
#df.to_csv(f'csv_{count}.csv')
#count += 1

MultiIndex([(                                                                   'Country', ...),
            ('Estimated antiretroviral therapy coverage among people living with HIV (%)', ...),
            (                'Reported number of people receiving antiretroviral therapy', ...),
            (                     'Estimated number of people (all ages) living with HIV', ...),
            (                     'Estimated number of people (all ages) living with HIV', ...),
            (                     'Estimated number of people (all ages) living with HIV', ...),
            (                     'Estimated number of people (all ages) living with HIV', ...)],
           )
MultiIndex([(                                                                         'Country', ...),
            (                        'Estimated antiretroviral therapy coverage among children', ...),
            ('Estimated number of children needing antiretroviral therapy based on WHO methods', ...),
            (                    'Reported number of children receiving antiretroviral therapy', ...)],
           )
MultiIndex([(                                         'Country', 'Country'),
            ('Prevalence of HIV among adults aged 15 to 49 (%)',   ' 2018'),
            ('Prevalence of HIV among adults aged 15 to 49 (%)',   ' 2010'),
            ('Prevalence of HIV among adults aged 15 to 49 (%)',   ' 2005'),
            ('Prevalence of HIV among adults aged 15 to 49 (%)',   ' 2000')],
           )
MultiIndex([(                         'Country', 'Country'),
            ('Number of deaths due to HIV/AIDS',   ' 2018'),
            ('Number of deaths due to HIV/AIDS',   ' 2010'),
            ('Number of deaths due to HIV/AIDS',   ' 2000')],
           )
MultiIndex([(                                                                         'Country', ...),
            (                        'Estimated antiretroviral therapy coverage among children', ...),
            ('Estimated number of children needing antiretroviral therapy based on WHO methods', ...),
            (                    'Reported number of children receiving antiretroviral therapy', ...)],
           )

In [18]:
#art_coverage_by_country_df['year'] = art_coverage_by_country_df.index.get_level_values(1)
art_coverage_by_country_df

                     Unnamed: 0_level_0 Estimated antiretroviral therapy coverage among people living with HIV (%) Reported number of people receiving antiretroviral therapy Estimated number of people (all ages) living with HIV
                                Country                                                                       2018                                                       2018                                                  2018                             2010                             2005                             2000
0                           Afghanistan                                          13 [7–20]                                                                        920                                         7200 [4100–11 000]                    4200 [2500–6200]                 2900 [1700–5000]                 1600 [1000–3500]
1                               Albania                                            No data                                                                        580                                                    No data                             No data                          No data                          No data
2                               Algeria                                         81 [75–86]                                                                     12 800                                     16 000 [15 000–17 000]                    7100 [6600–7600]                 3700 [3500–4000]                 1900 [1700–2000]
3                                Angola                                         27 [23–31]                                                                     88 700                                  330 000 [290 000–390 000]           220 000 [180 000–250 000]        150 000 [120 000–170 000]          87 000 [72 000–110 000]
4                             Argentina                                         61 [55–67]                                                                     85 500                                  140 000 [130 000–150 000]            110 000 [96 000–120 000]           85 000 [76 000–94 000]           64 000 [55 000–71 000]
..                                  ...                                                ...                                                                        ...                                                        ...                                 ...                              ...                              ...
165  Venezuela (Bolivarian Republic of)                                            No data                                                                    No data                                  120 000 [100 000–130 000]                             No data                          No data                          No data
166                            Viet Nam                                         65 [57–73]                                                                    150 000                                  230 000 [200 000–260 000]           220 000 [180 000–250 000]        180 000 [160 000–210 000]        120 000 [110 000–130 000]
167                               Yemen                                         21 [12–35]                                                                       2200                                       11 000 [6500–18 000]                    5100 [3500–7400]                 2400 [1500–4000]                  1100 [680–2500]
168                              Zambia                                         78 [69–88]                                                                    965 000                            1 200 000 [1 100 000–1 400 000]       1 000 000 [900 000–1 100 000]      920 000 [820 000–1 000 000]      890 000 [800 000–1 000 000]
169                            Zimbabwe                                     88 [77–&gt;95]                                                                  1 151 000                            1 300 000 [1 100 000–1 500 000]     1 200 000 [1 100 000–1 400 000]  1 400 000 [1 200 000–1 600 000]  1 600 000 [1 400 000–1 900 000]

[170 rows x 7 columns]